<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "erro") %> impediu este filme de ser salvo:</h2>
      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%# CORREÇÃO: Título - Deve ser uma string para o texto %>
    <%= form.label :title, "Título", style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  
  <div>
    <%# CORREÇÃO: Sinopse - Deve ser uma string para o texto %>
    <%= form.label :synopsis, "Sinopse", style: "display: block" %>
    <%= form.text_area :synopsis %>
  </div>
  
  <div>
    <%# CORREÇÃO: Ano de Lançamento - Passado como string %>
    <%= form.label :release_year, "Ano de Lançamento", style: "display: block" %>
    <%= form.number_field :release_year %>
  </div>
  
  <div>
    <%# CORREÇÃO: Duração - Passado como string %>
    <%= form.label :duration, "Duração", style: "display: block" %>
    <%= form.number_field :duration %>
  </div>
  
  <div>
    <%# CORREÇÃO: Diretor - Passado como string %>
    <%= form.label :director, "Diretor", style: "display: block" %>
    <%= form.text_field :director %>
  </div>

  <div class="actions">
    <%# CORREÇÃO: Altera o texto padrão do botão submit para "Cadastrar Filme" %>
    <%= form.submit "Cadastrar Filme" %>
  </div>
<% end %>
