<p style="color: green"><%= notice %></p>

<% content_for :title, "Filmes em Cartaz" %>

<h1>Filmes</h1>

<% @movies.each do |movie| %>
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 15px;">
      <h2><%= link_to movie.title, movie %></h2>
      <p>Ano: <%= movie.release_year %></p>
      <p><%= movie.synopsis.truncate(200) %></p>
      <p>
        <%= link_to "Ver Detalhes", movie, class: "button" %>
      </p>
    </div>
<% end  %>

<%= pagy_nav(@pagy).html_safe %>

<br>
<%= link_to "Novo Filme", new_movie_path %>